<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Configure Cameras</mat-card-title>
    <mat-card-subtitle
      >Your remote control for multiple cameras</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
    alt="Blank profile picture"
  />
  <mat-card-content>
    <p>
      Some cameras may have special usage. A camera can be 'tagged' to be used
      controlled in isolation or withing a tag group.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Getting Started</button>
  </mat-card-actions>
</mat-card>
